@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml"; // Layout riêng cho khách
}

<!-- Banner -->
<div class="bg-danger text-white text-center py-5">
    <h1>Tổng công ty Bưu chính NightFury</h1>
    <p>Mang chuyển phát nhanh rộng khắp</p>
    <a class="btn btn-light btn-lg mt-3" asp-controller="Auth" asp-action="Login">
        Đăng nhập / Đăng ký
    </a>
</div>

